PyMuPDF
tqdm
gradio
Pillow==10.1.0
sentencepiece==0.1.99
numpy
transformers==4.40.2
timm
opencv-python
decord==0.6.0
--extra-index-url https://mirrors.aliyun.com/pytorch-wheels/cu121
torch
torchvision
http://thunlp.oss-cn-qingdao.aliyuncs.com/multi_modal/never_delete/modelscope_studio-0.4.0.9-py3-none-any.whl
--extra-index-url https://mirrors.aliyun.com/pytorch-wheels/cu121
